---
- name: Setup apt proxy
  ansible.builtin.copy:
    content: Acquire::http { Proxy "{{ apt_proxy_url }}"; };
    dest: /etc/apt/apt.conf.d/80-use-proxy
    owner: root
    group: root
    mode: "0o644"
  when: apt_proxy_url | default("") | length > 0

- name: Remove default apt lists
  ansible.builtin.file:
    name: /etc/apt/sources.list
    state: absent

- name: Configure debian sources
  become: true
  ansible.builtin.deb822_repository:
    name: debian
    types:
      - deb
      - deb-src
    uris: "{{ (debian_mirror | default('') | length > 0) | ternary(debian_mirror, 'http://deb.debian.org/debian') }}"
    suites: >-
      {{ ansible_facts.distribution_release }}
      {{ ansible_facts.distribution_release }}-updates
      {% if enable_backports %} {{ ansible_facts.distribution_release }}-backports{% endif %}
    components: main contrib
    signed_by: /usr/share/keyrings/debian-archive-keyring.gpg

- name: Configure debian security sources
  become: true
  ansible.builtin.deb822_repository:
    name: debian-security
    types:
      - deb
      - deb-src
    uris: http://deb.debian.org/debian-security
    suites: "{{ ansible_facts.distribution_release }}-security"
    components: main contrib
    signed_by: /usr/share/keyrings/debian-archive-keyring.gpg
