---
- name: Wipe the disks
  ansible.builtin.command: sgdisk --zap-all /dev/{{ item }}
  loop: "{{ root_disks }}"

- name: Create efi partition
  community.general.parted:
    device: /dev/{{ item }}
    number: 1
    state: present
    part_end: 5GiB
    label: gpt
    flags:
      - esp
  loop: "{{ root_disks }}"

- name: Create root pool partitions
  community.general.parted:
    device: /dev/{{ item }}
    number: 2
    state: present
    part_start: 5GiB
    label: gpt
  loop: "{{ root_disks }}"

- name: Update devices facts
  ansible.builtin.setup:

- name: Get all existing zfs pools information
  community.general.zpool_facts:
    properties: size

- name: Get all existing zfs pools name
  ansible.builtin.set_fact:
    zfs_pools_names: "{{ ansible_facts.zfs_pools | map(attribute='name') | list }}"

- name: Create the efi partitions
  community.general.filesystem:
    fstype: vfat
    opts: -F 32 -s 1 -n EFI
    dev: "/dev/disk/by-id/{{ ansible_facts.devices[item].partitions[item + '1'].links.ids[0] }}"
  loop: "{{ root_disks }}"

- name: Create the zfs rpool pool
  when: "'rpool' not in zfs_pools_names"
  ansible.builtin.expect:
    command: >
      zpool create
        -f
        -o cachefile=none
        -O encryption=aes-256-gcm
        -O keylocation=prompt
        -O keyformat=passphrase
        -o ashift=12
        -O acltype=posixacl
        -O canmount=off
        -O compression=lz4
        -O dnodesize=auto
        -O normalization=formD
        -O relatime=on
        -O xattr=sa
        -O mountpoint=/
        -R /mnt
        rpool
        {{ pool_mode | default() }}
        {% for disk in root_disks %}
          {{ ansible_facts.devices[disk].partitions[disk + "2"].links.ids[0] }}
        {% endfor %}
    responses:
      Enter new passphrase: "{{ zfs_pool_password }}"
      Re-enter new passphrase: "{{ zfs_pool_password }}"

- name: Create root zfs mountpoints
  community.general.zfs:
    name: rpool/ROOT
    state: present
    extra_zfs_properties:
      canmount: false
      mountpoint: none

- name: Create distribution specific root mountpoint
  community.general.zfs:
    name: rpool/ROOT/debian
    state: present
    extra_zfs_properties:
      canmount: noauto
      mountpoint: /

- name: Mount the root filesystem
  ansible.builtin.command: zfs mount rpool/ROOT/debian

- name: Create zfs volumes
  community.general.zfs:
    name: rpool/{{ item.name }}
    state: present
    extra_zfs_properties: "{{ item.properties | default({}) }}"
  loop:
    - name: BOOT
      properties:
        canmount: false
        mountpoint: none
    - name: BOOT/debian
      properties:
        mountpoint: /boot
    - name: home
    - name: home/root
      properties:
        mountpoint: /root
    - name: var
      properties:
        canmount: false
    - name: var/lib
      properties:
        canmount: false
    - name: var/log
    - name: var/spool
    - name: var/cache
    - name: var/tmp

- name: Ensure /mnt/var/tmp has the right permissions
  ansible.builtin.file:
    name: /mnt/var/tmp
    state: directory
    mode: "0o1777"

- name: Deboostrap the system
  ansible.builtin.command: |
    debootstrap
    --include lsb-release,python3,python3-apt,sudo
    {{ ansible_facts.distribution_release }}
    /mnt
    {% if apt_proxy_url is defined %}
    {{ apt_proxy_url }}/debian {{ ansible_facts.distribution_release }} main contrib
    {% endif %}
  args:
    creates: /mnt/etc

- name: Mount /mnt/sys
  ansible.posix.mount:
    src: sys
    path: /mnt/sys
    fstype: sysfs
    opts: nosuid,noexec,nodev,ro
    state: mounted

- name: Mount /mnt/sys/firmware/efi/efivars
  ansible.posix.mount:
    src: efivars
    path: /mnt/sys/firmware/efi/efivars
    fstype: efivarfs
    opts: nosuid,noexec,nodev
    state: mounted

- name: Mount /mnt/dev
  ansible.posix.mount:
    src: dev
    path: /mnt/dev
    fstype: devtmpfs
    opts: mode=755,nosuid
    state: mounted

- name: Mount /mnt/proc
  ansible.posix.mount:
    src: proc
    path: /mnt/proc
    fstype: proc
    opts: nosuid,noexec,nodev
    state: mounted

- name: Mount tmpfs filesystems
  ansible.posix.mount:
    src: tmpfs
    path: /mnt/{{ item }}
    fstype: tmpfs
    state: mounted
  loop:
    - run
    - tmp
