---
- name: Mount /boot/efi
  ansible.posix.mount:
    fstype: vfat
    opts: umask=0077
    passno: "1"
    path: /boot/efi
    src: UUID={{ ansible_facts.devices[root_disks[0]].partitions[root_disks[0] + '1'].uuid }}
    state: mounted

- name: Set the hostname
  ansible.builtin.copy:
    dest: /etc/hostname
    content: "{{ fqdn.split('.')[0] }}"
    mode: "0o644"

- name: Set the hostname and fqdn in etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^127.0.1.1'
    insertafter: '^127.0.0.1'
    line: 127.0.1.1 {{ fqdn }} {{ fqdn.split(".")[0] }}

- name: Create the network config file
  ansible.builtin.template:
    src: network.j2
    dest: /etc/systemd/network/lan.network
    mode: "0o644"

- name: Enable systemd-networkd
  ansible.builtin.systemd:
    service: systemd-networkd
    enabled: true

- name: Setup apt
  ansible.builtin.import_tasks: tasks/_setup_apt.yml

- name: Ensure all packages are up to date
  ansible.builtin.apt:
    upgrade: safe
    force_apt_get: true
    autoclean: true
    autoremove: true
    update_cache: true

- name: Install kernel drivers utilities
  ansible.builtin.apt:
    name:
      - dkms
      - openssl
    state: present
    install_recommends: false

- name: Ensure ZFS update rebuilds all initramfs
  ansible.builtin.copy:
    dest: /etc/dkms/zfs.conf
    content: REMAKE_INITRD=yes
    mode: "0o644"

- name: Install required packages
  ansible.builtin.apt:
    name:
      - console-setup
      - dropbear-initramfs
      - linux-image-amd64
      - linux-headers-amd64
      - locales
      - man-db
      - openssh-server
      - sudo
      - grub-efi-amd64
      - grub-efi-amd64-signed
      - shim-signed
      - systemd-resolved
      - tmux
    install_recommends: false

- name: Install zfs packages
  ansible.builtin.apt:
    name:
      - zfs-dkms
      - zfs-initramfs
      - zfs-zed
    default_release: "{{ enable_backports | ternary(ansible_facts.distribution_release + '-backports', omit) }}"

- name: Ensure the requested locale exists
  community.general.locale_gen:
    name: "{{ item }}"
    state: present
  loop:
    - en_US.UTF-8
    - en_GB.UTF-8

- name: Set default locale to en_GB.UTF-8
  ansible.builtin.debconf:
    name: locales
    question: locales/default_environment_locale
    value: en_GB.UTF-8
    vtype: select

- name: Configure locales to generate
  ansible.builtin.debconf:
    name: locales
    question: locales/locales_to_be_generated
    value: en_US.UTF-8 en_GB.UTF-8 UTF-8
    vtype: multiselect

- name: Set timezone area
  ansible.builtin.debconf:
    name: tzdata
    question: tzdata/Areas
    value: Europe
    vtype: select

- name: Set timezone city
  ansible.builtin.debconf:
    name: tzdata
    question: tzdata/Zones/Europe
    value: Zurich
    vtype: select

- name: Set timezone UTC
  ansible.builtin.debconf:
    name: tzdata
    question: tzdata/Zones/Etc
    value: UTC
    vtype: select

- name: Set keyboard
  ansible.builtin.debconf:
    name: keyboard-configuration
    question: keyboard-configuration/variant
    value: English (US)
    vtype: select

- name: Create the admin user
  ansible.builtin.user:
    name: "{{ admin_username }}"
    password: "{{ admin_password }}"
    create_home: true
    shell: /bin/bash
    groups:
      - adm
      - sudo

- name: Set authorized key taken for the admin user
  ansible.posix.authorized_key:
    user: "{{ admin_username }}"
    state: present
    key: "{{ admin_public_key }}"

- name: Enable systemd-resolved
  ansible.builtin.systemd:
    name: systemd-resolved
    enabled: true

- name: Enable zfs-import-scan
  ansible.builtin.systemd:
    name: zfs-import-scan
    enabled: true

- name: Mask zfs-import-cache
  ansible.builtin.systemd:
    name: zfs-import-cache
    masked: true

- name: Ensure the ZFS cache file doesn't exist
  ansible.builtin.file:
    path: /etc/zfs/zpool.cache
    state: absent

- name: Create the zfs-import-scan service override directory
  ansible.builtin.file:
    path: /etc/systemd/system/zfs-import-scan.service.d
    state: directory
    owner: root
    group: root
    mode: "0o755"

- name: Override the zfs-import-scan service to not check for zpool.cache
  ansible.builtin.copy:
    content: |
      [Unit]
      ConditionPathExists=
    dest: /etc/systemd/system/zfs-import-scan.service.d/run-even-if-cache-exists.conf
    owner: root
    group: root
    mode: "0o644"

- name: Enable the /tmp tmpfs mount service
  ansible.builtin.systemd:
    service: tmp.mount
    enabled: true

- name: Authorize user for remote-unlock
  ansible.posix.authorized_key:
    key: "{{ admin_public_key }}"
    path: /etc/dropbear/initramfs/authorized_keys
    user: root

- name: Configure the dropbear port
  ansible.builtin.copy:
    content: 'DROPBEAR_OPTIONS="-p {{ dropbear_port }}"'
    dest: /etc/dropbear/initramfs/dropbear.conf
    owner: root
    group: root
    mode: "0o600"

- name: Configure the SSH port if configured
  ansible.builtin.copy:
    content: Port {{ ssh_port }}
    dest: /etc/ssh/sshd_config.d/00-port.conf
    owner: root
    group: root
    mode: "0o600"
  when: ssh_port != 22

- name: Update the initramfs
  ansible.builtin.command: update-initramfs -c -k all

- name: Tell grub where the root is
  ansible.builtin.lineinfile:
    path: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX='
    line: 'GRUB_CMDLINE_LINUX="root=ZFS=rpool/ROOT/{{ zfs_system_root_name }}"'

- name: Update grub configuration files
  ansible.builtin.command: update-grub

- name: Install grub
  ansible.builtin.command: grub-install

- name: Create temporary file to contain the hash for mokutil password
  ansible.builtin.tempfile:
    state: file
    suffix: mokutil_pw
  register: _mokutil_file

- name: Write the password to the mokutil hash file
  ansible.builtin.copy:
    content: "{{ mokutil_password }}"
    dest: "{{ _mokutil_file.path }}"
    mode: "0o600"
    owner: root
    group: root

- name: Import the generated Secure boot key
  ansible.builtin.command: mokutil --hash-file "{{ _mokutil_file.path }}" --import /var/lib/dkms/mok.pub
  tags:
    - molecule-notest

- name: Snapshot the filesystems before boot
  community.general.zfs:
    name: "{{ item }}@install"
    state: present
  loop:
    - rpool/ROOT/{{ zfs_system_root_name }}
    - bpool/BOOT/{{ zfs_system_root_name }}
    - rpool/var
