---
- name: Set the hostname
  ansible.builtin.copy:
    dest: /etc/hostname
    content: "{{ fqdn.split('.')[0] }}"
    mode: "0o644"

- name: Set the hostname and fqdn in etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^127.0.1.1'
    insertafter: '^127.0.0.1'
    line: 127.0.1.1 {{ fqdn }} {{ fqdn.split(".")[0] }}

- name: Create the network config file
  ansible.builtin.template:
    src: network.j2
    dest: /etc/systemd/network/{{ network_interface | default(ansible_facts.default_ipv4.interface) }}.network
    mode: "0o644"

- name: Enable systemd-networkd
  ansible.builtin.systemd:
    service: systemd-networkd
    enabled: true

- name: Setup apt
  ansible.builtin.import_tasks: tasks/_setup_apt.yml

- name: Ensure all packages are up to date
  ansible.builtin.apt:
    upgrade: safe
    force_apt_get: true
    autoclean: true
    autoremove: true
    update_cache: true

- name: Install required packages
  ansible.builtin.apt:
    name:
      - apparmor
      - console-setup
      - dkms
      - dropbear-initramfs
      - linux-image-amd64
      - linux-headers-amd64
      - locales
      - man-db
      - openssh-server
      - polkitd  # required for systemd-networkd to set hostname
      - rsync
      - sudo
      - shim-signed
      - systemd-boot
      - systemd-resolved
      - tmux
      - util-linux-extra  # Required for hwclock for localtime
      - zstd
    install_recommends: false

- name: Ensure ZFS update rebuilds all initramfs
  ansible.builtin.copy:
    dest: /etc/dkms/zfs.conf
    content: REMAKE_INITRD=yes
    mode: "0o644"

- name: Install zfs packages
  ansible.builtin.apt:
    name:
      - zfs-dkms
      - zfs-initramfs
      - zfs-zed

- name: Ensure the requested locale exists
  community.general.locale_gen:
    name: "{{ locales | default(['en_US.UTF-8']) }}"
    state: present

- name: Set default locale
  ansible.builtin.debconf:
    name: locales
    question: locales/default_environment_locale
    value: "{{ locales[0] | default('en_US.UTF-8') }}"
    vtype: select

- name: Configure locales to generate
  ansible.builtin.debconf:
    name: locales
    question: locales/locales_to_be_generated
    value: "{{ locales | default(['en_US.UTF-8']) | join(' ') }} UTF-8"
    vtype: multiselect

- name: Set timezone
  become: true
  community.general.timezone:
    name: "{{ timezone | default('Etc/UTC') }}"

- name: Set keyboard
  ansible.builtin.debconf:
    name: keyboard-configuration
    question: keyboard-configuration/variant
    value: "{{ keyboard | default('English (US)') }}"
    vtype: select

- name: Create the admin user
  ansible.builtin.user:
    name: "{{ admin_username }}"
    password: "{{ admin_password }}"
    create_home: true
    shell: /bin/bash
    groups:
      - adm
      - sudo

- name: Copy the skeleton files for the user
  ansible.builtin.copy:
    src: /etc/skel/
    dest: /home/{{ admin_username }}/
    remote_src: true
    owner: "{{ admin_username }}"
    group: "{{ admin_username }}"
    mode: preserve

- name: Ensure the permissions on the admin home directory are correct
  ansible.builtin.file:
    path: /home/{{ admin_username }}
    mode: "0o700"
    owner: "{{ admin_username }}"
    group: "{{ admin_username }}"
    state: directory

- name: Set authorized key taken for the admin user
  ansible.posix.authorized_key:
    user: "{{ admin_username }}"
    state: present
    key: "{{ admin_public_key }}"

- name: Enable systemd-resolved
  ansible.builtin.systemd:
    name: systemd-resolved
    enabled: true

- name: Enable zfs-import-scan
  ansible.builtin.systemd:
    name: zfs-import-scan
    enabled: true

- name: Mask zfs-import-cache
  ansible.builtin.systemd:
    name: zfs-import-cache
    masked: true

- name: Ensure the ZFS cache file doesn't exist
  ansible.builtin.file:
    path: /etc/zfs/zpool.cache
    state: absent

- name: Create the zfs-import-scan service override directory
  ansible.builtin.file:
    path: /etc/systemd/system/zfs-import-scan.service.d
    state: directory
    owner: root
    group: root
    mode: "0o755"

- name: Override the zfs-import-scan service to not check for zpool.cache
  ansible.builtin.copy:
    content: |
      [Unit]
      ConditionPathExists=
    dest: /etc/systemd/system/zfs-import-scan.service.d/run-even-if-cache-exists.conf
    owner: root
    group: root
    mode: "0o644"

- name: Create the systemd tmp.mount override directory
  ansible.builtin.file:
    path: /etc/systemd/system/tmp.mount.d
    state: directory
    mode: "0o755"

- name: Ensure /tmp is mounted as noexec
  ansible.builtin.copy:
    content: |
      [Mount]
      Options=nodev,noexec,nosuid
    dest: /etc/systemd/system/tmp.mount.d/override.conf
    mode: "0o644"

- name: Enable the /tmp tmpfs mount service
  ansible.builtin.systemd:
    service: tmp.mount
    enabled: true

- name: Authorize user for remote-unlock
  ansible.posix.authorized_key:
    key: 'no-port-forwarding,no-agent-forwarding,no-x11-forwarding,command="/bin/zfsunlock" {{ admin_public_key }}'
    path: /etc/dropbear/initramfs/authorized_keys
    user: root

- name: Configure the dropbear port
  ansible.builtin.copy:
    # -s disable password login
    # -j disable local port forwarding
    # -k disable remote port forwarding
    # -I idle timeout to 60s
    content: 'DROPBEAR_OPTIONS="-s -j -k -I 60 -p {{ dropbear_port }}"'
    dest: /etc/dropbear/initramfs/dropbear.conf
    owner: root
    group: root
    mode: "0o600"

- name: Configure the SSH port if configured
  ansible.builtin.copy:
    content: Port {{ ssh_port }}
    dest: /etc/ssh/sshd_config.d/00-port.conf
    owner: root
    group: root
    mode: "0o600"
  when: ssh_port != 22

- name: Generate the proper cmdline configuration
  ansible.builtin.copy:
    content: root=ZFS=rpool/ROOT/debian boot=zfs
    dest: /etc/kernel/cmdline
    mode: "0o644"

- name: Generate the fstab
  ansible.builtin.copy:
    # yamllint disable rule:line-length
    content: |
      UUID={{ (ansible_facts.devices[root_disks[0]].partitions | dictsort | first)[1].uuid }} /boot/efi vfat defaults,{% if root_disks | length > 1 %}nofail,{% endif %}umask=0077,relatime,x-systemd.after=zfs-mount.service 0 1
      {% if root_disks | length > 1 %}
      {% for disk in root_disks[1:] %}
      UUID={{ (ansible_facts.devices[disk].partitions | dictsort | first)[1].uuid }} /boot/efi/.esp-{{ disk }} vfat defaults,nofail,umask=0077,relatime,x-systemd.after=zfs-mount.service 0 1
      {% endfor %}
      {%- endif -%}
      rpool/var /var zfs x-systemd.before=zfs-mount.service 0 0
      rpool/var/log /var/log zfs x-systemd.before=zfs-mount.service 0 0
    # yamllint enable rule:line-length
    dest: /etc/fstab
    mode: "0o644"

- name: Install systemd-boot on all partitions
  ansible.builtin.command: bootctl install --esp-path=/boot/efi/.esp-{{ item }}/ --efi-boot-option-description literal:"Linux Boot Manager - {{ item }}"
  loop: "{{ root_disks[1:] }}"

- name: Install script to keep the boot mirrors in sync
  ansible.builtin.copy:
    content: |
      #!/bin/sh

      rsync --archive --recursive --exclude .esp-* --verbose /boot/efi/ /boot/efi/.esp-{{ item }}/
    dest: /etc/initramfs/post-update.d/systemd-boot-mirror
    mode: "0o755"
  loop: "{{ root_disks[1:] }}"

- name: Update the initramfs
  ansible.builtin.command: update-initramfs -c -k all

- name: Create temporary file to contain the hash for mokutil password
  ansible.builtin.tempfile:
    state: file
    suffix: mokutil_pw
  register: _mokutil_file

- name: Write the password to the mokutil hash file
  ansible.builtin.copy:
    content: "{{ mokutil_password }}"
    dest: "{{ _mokutil_file.path }}"
    mode: "0o600"
    owner: root
    group: root

- name: Import the generated Secure boot key
  ansible.builtin.command: mokutil --hash-file "{{ _mokutil_file.path }}" --import /var/lib/dkms/mok.pub
  tags:
    - molecule-notest

- name: Snapshot the filesystems before boot
  ansible.builtin.command:
    cmd: zfs snapshot -r rpool@install
