external:
  hosts:
    /mnt:
      network_interface: {{ network_interface }}
      fqdn: {{ fqdn }}
      root_disk: {{ root_disks[0] }}
      admin_username: {{ admin_username }}
      admin_password: {{ admin_password }}
      admin_public_key: {{ admin_public_key }}
      zfs_system_root_name: {{ zfs_system_root_name }}
      dropbear_port: {{ dropbear_port }}
      mokutil_password: {{ mokutil_password }}
      debian_version: {{ debian_version }}
